{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "import"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    }
  },
  "rules": {
    "arrow-body-style": [0],
    "brace-style": ["error", "stroustrup"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": ["bin/*.js", "**/*.test.js"] }],
    "import/prefer-default-export": [0],
    "no-alert": [0],
    "no-else-return": [0],
    "no-plusplus": [0],
    "no-restricted-syntax": ["error",
      { "selector": "ForInStatement" },
      { "selector": "LabeledStatement" },
      { "selector": "WithStatement"}
    ],
    "no-underscore-dangle": [0],
    "no-unneeded-ternary": [0],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "semi": ["error", "never"]
  },
  "overrides": [
    {
      // Overrides for bin files that are not processed by Babel.
      "files": ["**/bin/*.js"],
      "rules": {
        // Bin files use require() and are usually quite short, so no need for extra newlines.
        "import/newline-after-import": [0]
      }
    }
  ]
}
